.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;

    @media screen and (min-width: 320px) {
        width: 320px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1024px) {
        width: 1024px;
    }
}