.header {
    background-color: #000001;
    width: 100vw;
}

.header-container {
    display: flex;
<<<<<<< HEAD
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    height: 215px;
    padding-top: 40px;
    padding-bottom:  90px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/mobi/Rectangle_mobi.jpg');

    @media screen and (min-width: 768px) {
        padding-bottom:  80px;
=======
    justify-content: space-between;
    align-items: start;
    height: 215px;
    padding-top: 40px;
    padding-bottom:  80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/mobi/Rectangle_mobi.jpg');

    @media screen and (min-width: 768px) {
>>>>>>> b5f6ffd530c88e0645263fcae7dc2d14081ddbd4
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/tab/Rectangle_tab.jpg');
    }

    @media screen and (min-width: 1024px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/Rectangle\ .jpg');

    }
}

<<<<<<< HEAD
.header-logo {
    display: flex;
    align-items: center;
}

.text-logo {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

=======
>>>>>>> b5f6ffd530c88e0645263fcae7dc2d14081ddbd4
.nav__list {
    display: flex;
}

<<<<<<< HEAD
.nav__item {
    position: relative;
        & + & {
            margin-left: 40px;
        }
}


.nav__link{ 
// position: relative;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    text-transform: uppercase;
    color: $secondaryTextColor;

}

.current-link::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    background: $hoverBtn;
}

.search-form {
    align-self: end;
    margin: 0 auto;
}

.icon-logo {

=======
.search-form {
align-self: flex-end;
}

.logo {
}

.logo-icon{
    height: 24px;
    width: 24px;
    background-color: #ccc;
>>>>>>> b5f6ffd530c88e0645263fcae7dc2d14081ddbd4
}