.header {
    background-color: #000001;
    width: 100vw;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    height: 215px;
    padding-top: 40px;
    padding-bottom:  90px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/mobi/Rectangle_mobi.jpg');

    @media screen and (min-width: 768px) {
        padding-bottom:  80px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/tab/Rectangle_tab.jpg');
    }

    @media screen and (min-width: 1024px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url('../images/Rectangle\ .jpg');

    }
}

.header-logo {
    display: flex;
    align-self: center;
}

.icon-logo {
    align-self: center;
}

.text-logo {
    margin-left: 8px;
    font-weight: 500;
    font-size: 30px;
    line-height: calc(35 / 30) ;

    color: #ffffff;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header-nav {
    width: 70%;
    align-self: center;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
}

.nav__item {
    position: relative;
        & + & {
            margin-left: 40px;
        }
}


.nav__link{ 
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    text-transform: uppercase;
    color: $secondaryTextColor;
}

.current-link::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    background: $hoverBtn;
}

.search-form {
    position: relative;
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 336px;
        margin: 0 auto;
    }
}

.search-form__input {
    width: inherit;
    padding: 4px 1px;
    background-color: transparent;
    border-bottom: #ffffff solid 0.5px;
}

.search-form__btn {
    position: absolute;
    right: 0;
    top: 20%;
    background-color: transparent;
}

.icon-search {
    stroke: #ffffff;
}