
.backdrop--team{
    position: fixed;
    display: flex;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    justify-content: center;
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;

    &.is-hidden{
    opacity: 0;
    visibility: hidden;
    }
}



.modal-team{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#e6ac6ee8, #f66d23);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 10px;
}

.cross{
    position: absolute;
    right: 10px;
    top: 10px;
    &:hover{
        cursor: pointer;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
}


.our-team{
    color: rgb(227, 229, 232);
    font-size: 23px;
    line-height: 1.17857;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin: 0;
    max-width: max-content;
}

// .team-number{
//     display: block;
//     text-align: center;
// }

.img-container{
    margin-top: 10px;
}

.img-container{
    display: flex;
}

.team-item{
    flex-wrap: wrap;
    flex-basis: calc((100% - 20px) / 2);
}

.team-img{

    border-radius: 25%;
    width: 120px;
    height: 150px;
}