<div class="container">
  <h1 class="page-title"></h1>

  <ul class="card-set">
    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-1.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action | 2020</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-2.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-3.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 3</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-4.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 4</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-5.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 5</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-6.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 6</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-7.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 7</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-8.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 8</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-6.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 6</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>
    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-1.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action | 2020</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-2.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 11</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-3.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 12</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-4.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 13</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-5.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 14</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-6.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 15</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-7.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 16</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-8.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 17</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-6.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 18</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-5.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 19</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb">
          <img src="images/temp/pexels-6.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 20</h2>
          <p class="card-text">Lorem, ipsum dolor</p>
        </div>
      </article>
    </li>
  </ul>
</div>
