<div class="container">
  <h1 class="page-title"></h1>

  <ul class="card-set">
    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-1.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-2.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-3.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-4.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-5.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-6.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-7.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-8.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-6.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-1.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-2.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-3.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-4.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-5.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-6.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-7.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-8.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-6.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-1.jpg" alt="" />
        </div>

        <div class="card-content">
          <h2 class="card-heading">Pexels 2</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>

    <li class="item">
      <article class="card">
        <div class="card-thumb cards-wrapper">
          <img src="images/temp/pexels-2.jpg" alt="" />
        </div>
        <div class="card-content">
          <h2 class="card-heading">GREYHOUND</h2>
          <p class="card-text">Drama, Action <span class="card-text-divide">|</span> 2020</p>
        </div>
        <div class="cards-back-text">
          <span class="description_films"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorum dignissimos
            sit repellat rerum veniam ipsum facere rem illo natus?</span
          >
        </div>
      </article>
    </li>
  </ul>
</div>
