<div class="backdrop--team is-hidden " data-modal-backdrop>
    <div class="modal-team">
        <button type="button" class="cross">
            <svg width="30" height="30">
              <use href="./images/sprite1.svg#icon-close"></use>
            </svg>
          </button>
        <h2 class="team-title"> Filmoteka by team №7</h2>
        <!-- <div class="img-container"> -->
            <!-- <div class="img-container">
                <img src="" alt="Dmitryi" class="img__item ">
                <img src="" alt="Vitaliy" class="img__item ">
                <img src="" alt="Inna" class="img__item ">
                <img src="" alt="Anna" class="img__item ">
                <img src="" alt="Mark" class="img__item ">
                <img src="" alt="Sofia" class="img__item ">
                <img src="" alt="Maks" class="img__item ">
                <img src="" alt="Alexandr" class="img__item ">
                <img src="" alt="Еduard" class="img__item ">
                <img src="" alt="" class="img__item ">
                <img src="" alt="" class="img__item ">
            </div> -->
            <ul class="our-team">
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Dmitriy-1х-min.png 1x , /images/team/Dmitriy-2х-min.png 2x" media="(min-width: 1200px)">
                        <a href=""><img src="/images/team/Dmitriy-1х-min.png" alt="Dmitryi" class="our-team__img"></a>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Vitaliy-1х-min.png 1x , /images/team/Vitaliy-2х-min.png 2x" media="(min-width: 1200px)">
                        <a href=""><img src="/images/team/Vitaliy-1х-min.png" alt="Vitaliy" class="our-team__img"></a>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Inna-1х-min.png 1x , /images/team/Inna-2х-min.png 2x" media="(min-width: 1200px)">
                        <a href=""><img src="/images/team/Inna-1х-min.png" alt="Inna" class="our-team__img"></a>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Anna-1х-min.png 1x , /images/team/Anna-2х-min.png 2x" media="(min-width: 1200px)">
                        <a href=""><img src="/images/team/Anna-1х-min.png" alt="Anna" class="our-team__img"></a>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Mark-1х-min.png 1x , /images/team/Mark-2х-min.png 2x" media="(min-width: 1200px)">
                        <a href=""><img src="/images/team/Mark-1х-min.png" alt="Mark" class="our-team__img"></a>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Sofia-1х-min.png 1x , /images/team/Sofia-2х-min.png 2x" media="(min-width: 1200px)">
                        <a href=""><img src="/images/team/Sofia-1х-min.png" alt="Sofia" class="our-team__img"></a>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Maks-1х-min.png 1x , /images/team/Maks-2х-min.png 2x" media="(min-width: 1200px)">
                        <a href=""><img src="/images/team/Maks-1х-min.png" alt="Maks" class="our-team__img"></a>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Alexandr-1х-min.png 1x , /images/team/Alexandr-2х-min.png 2x" media="(min-width: 1200px)">
                        <a href=""><img src="/images/team/Alexandr-1х-min.png" alt="Alexandr" class="our-team__img"></a>
                    </picture>
                </li>
                <li class="our-team__item">
                    <picture>
                        <source srcset="/images/team/Еduard-1х-min.png 1x , /images/team/Eduard-2х-min.png 2x" media="(min-width: 1200px)">
                        <a href=""><img src="/images/team/Еduard-1х-min.png" alt="Еduard" class="our-team__img"></a>
                    </picture>
                </li>
            </ul>
        <!-- </div> -->
    </div>
</div>