// arrow ->
#toTop {
    position: fixed;
    display: inline-block;

    width: 40px;
    height: 40px;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

// #toTop:hover {

// }

#toTop svg {
    position: relative;
    top: 12px;
    right: -1px;
    fill: #fff;
    transition: all 0.3s ease-in-out;
}

#toTop:hover svg {
    cursor: pointer;
    fill: #fff;
    transition: all 0.3s ease-in-out;
}

#toTop.show {
    opacity: 1;
    visibility: visible;
    right: calc(8%);
    bottom: calc(11%);
}